body {
    background-color: #e686af;
}
h1 {
    text-align:center;
    font-size: 300%;
}
h2 {
    border-left: 6px solid #e40e6b;
}
header {
    border-style: solid;
    border-width: 5px 10px;
    border-color: #c01d64;
    padding: 10px;
    background: linear-gradient(45deg, #e22d7c, #ddabc1);
}
nav {
    display: flex;
    flex-direction: row-reverse;
}
a {
    margin: 10px;
    color: black;
}
.main_picture {
    width: 350px;
    height: 450px;
    position: relative;
    left: 8px;
    top: 10px;
}
.content {
    background-color: #c01d64;
    width: 840px;
    height: 580px;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.content-right {
    background-color: #ddabc1;
    width: 370px;
    height: 470px;
    margin: 45px;
}
.content-left {
    background-color: #ddabc1;
    width: 350px;
    height: 290px;
    font-size: 15px;
    font-weight: 700;
    border-radius: 20%;
    text-align:center;
    margin-left: 30px;
}
.main_hr {
    margin: 20px 0;
    padding: 0;
    height: 6px;
    border: none;
    background: linear-gradient(45deg, #e22d7c, #ddabc1);
}
.displayed {
    position: fixed;
    top: 400px;
    left: 1180px;
}
.film_article {
    font-size: 20px;
}
.music_article {
    font-size: 20px;
}
.footer_hr {
    margin: 20px 0;
    padding: 0;
    height: 6px;
    border: none;
    background: linear-gradient(45deg, #e22d7c, #ddabc1);
}
.inf_header {
    font-size: 30px;
    font-weight: 700;
    border-left: 6px solid #e40e6b;
    margin-bottom: 10px;
}
.inf {
    font-size: 20px;
}
.container {
    background-color: #c01d64;
    width: 400px;
    height: 400px;
}
.block {
    background-color: #da558f;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}
.SharkCat {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
}
.container-2 {
    display: flex;
    align-items: center;
    background-color: #c01d64;
    width: 400px;
    height: 400px;
}
.block-2 {
    margin-left: auto;
    margin-right: auto;
    background-color: #da558f;
    width: 200px;
    height: 200px;
}
.container-3 {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    border: 8px solid #da558f;
    background-color: #c01d64;
    width: 1050px;
    height: 450px;
}
.block-3 {
    margin-left: auto;
    margin-right: auto;
    background-color: #da558f;
    width: 200px;
    height: 200px;
}
.container-4 {
    width: 520px;
    height: 520px;
    border: 5px solid #c01d64;
}
.block-4-1 {
    position: relative;
    left: 25px;
    top: 25px;
    width: 200px;
    height: 200px;
    border: 5px solid #da558f;
    z-index: 1;
}
.block-4-2 {
    position: relative;
    left: 155px;
    bottom: 55px;
    width: 200px;
    height: 200px;
    border: 5px solid #cf3e7d;
    z-index: 2;
}
.block-4-3 {
    position: relative;
    left: 285px;
    bottom: 135px;
    width: 200px;
    height: 200px;
    border: 5px solid #c01d64;
    z-index: 3;
}
.container-5 {
    position: fixed;
    top: 485px;
    left: 1360px;
    display: flex;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: #da558f;
}
.FrogCat {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
}
