body {
    background-color: #e686af;
}
h1 {
    text-align:center;
    font-size: 300%;
}
header {
    border-style: solid;
    border-width: 5px 10px;
    border-color: #c01d64;
    padding: 10px;
    background: linear-gradient(45deg, #e22d7c, #ddabc1);
}
nav {
    display: flex;
    flex-direction: row-reverse;
}
a {
    margin: 10px;
    color: black;
}
table {
    border: 3px solid #000;
    box-sizing: border-box;
    border-collapse: collapse;
    margin: 10px auto;
    width: 500px;
    height: 500px;
}
tr {
    border: 3px solid #000;
    box-sizing: border-box;
    padding: 3px;
}
caption {
    font-size: 40px;
    font-weight: 700;
    text-decoration-line: underline; 
    text-decoration-thickness: 5px;
    text-decoration-color: #c01d64;
}
.footer_hr {
    margin: 20px 0;
    padding: 0;
    height: 6px;
    border: none;
    background: linear-gradient(45deg, #e22d7c, #ddabc1);
}
.inf_header {
    font-size: 30px;
    font-weight: 700;
    border-left: 6px solid #e40e6b;
    margin-bottom: 10px;
}
.inf {
    font-size: 20px;
}
th {
    border: 3px solid #000;
    box-sizing: border-box;
    width: 20px;
}
.tr-1 {
    background-color: #e0bdcc;
    border: 3px solid #000;
    box-sizing: border-box;
    padding: 5px;
}
.tr-2 {
    background-color: #bc899f;
    border: 3px solid #000;
    box-sizing: border-box;
    padding: 5px;
}
.tr-3 {
    background-color: #b46889;
    border: 3px solid #000;
    box-sizing: border-box;
    padding: 5px;
}
.tr-4 {
    background-color: #b34d79;
    border: 3px solid #000;
    box-sizing: border-box;
    padding: 5px;
}
.tr-5 {
    background-color: #a33464;
    border: 3px solid #000;
    box-sizing: border-box;
    padding: 5px;
}
.tr-6 {
    background-color: #a5255d;
    border: 3px solid #000;
    box-sizing: border-box;
    padding: 5px;
}