.brand-icon {
    width: 100px;
    height: 100px;
}

section {
    display: flex;
    flex-direction: row;
}

footer {
    display: flex;
    flex-direction: column;
    height: 150px;
}

pre {
    position: relative;
    right: 100px;
    color: aliceblue;
}

.info {
    height: 300px;
    width: 400px;
}

.alert {
    margin: 30px;
    display: flex;
    align-items: center;
    height: 100px;
}

.container-img {
    position: fixed;
    top: 485px;
    left: 1360px;
    display: flex;
    align-items: center;
    width: 150px;
    height: 150px;
}

.Medvesich {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
}
